html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f0f0f0;
}

header {
  background-color: aliceblue;
  width: 100%;
  text-align: center;
}

main {
  flex: 1;
}

.carousel {
  outline: black solid 1px;
  overflow: hidden;
}

#carousel-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 5px;
  width: 60vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#carousel-content.fade-out {
  opacity: 0;
}

#carousel-content.fade-in {
  opacity: 1;
}

.carousel-item {
  flex: 0 0 50%;
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
}

.carousel-item.left,
.carousel-item.center,
.carousel-item.right {
  display: flex;
}

.carousel-item.left {
  order: 1;
  opacity: 0.5;
}
.carousel-item.center {
  order: 2;
  opacity: 1;
}
.carousel-item.right {
  order: 3;
  opacity: 0.5;
}

.carousel-item img {
  width: 30vw;
  height: auto;
  object-fit: cover;
}

.carousel-controls {
  outline: black solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  margin-top: auto;
}
